.ads {
  grid-area: ads;
  width: 100%;
  position: relative;
  margin: 3.2rem auto;

  & img {
    border-radius: .4rem;
    width: 100%;
    object-fit: cover;
  }

  & button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: .8rem;
    right: .8rem;
  }
}

@media (width >= 768px) {
  .ads {
    width: calc(100% - 1.6rem);
    margin: 0 0 0 auto;
  }
}