#ai {
  grid-area: ai;
  border-top: 1px solid var(--stroke-color);

  & nav.grid {
    gap: 3.2rem;

    & a figure {
      gap: 1.6rem;

      & img {
        width: 8rem;
        height: 8rem;
        object-fit: cover;
        flex-shrink: 2;
      }

      & figcaption {
        & h3 {
          font: var(--heading2);
          color: var(--text-color-primary);

          /* Controle de exibição de linhas */
          overflow: hidden; /* Remove o estouro do elemento */
          text-overflow: ellipsis; /* Adiciona “...” no final */
          display: -webkit-box;
          line-clamp: 2;
          -webkit-line-clamp: 2; /* Número de linhas */
          -webkit-box-orient: vertical; /* Orientação vertical */
        }

        & p {
          font: var(--span);
          color: var(--text-color-secondary);

          /* Controle de exibição de linhas */
          overflow: hidden; /* Remove o estouro do elemento */
          text-overflow: ellipsis; /* Adiciona “...” no final */
          display: -webkit-box;
          line-clamp: 4;
          -webkit-line-clamp: 4; /* Número de linhas */
          -webkit-box-orient: vertical; /* Orientação vertical */
        }
      }
    }
  }
}

@media (width >= 1280px) {
  #ai {
    & nav.grid figure img {
      width: 17.6rem;
      height: 17.6rem;
    }

    & figure {
      flex-direction: row-reverse;
    }
  }
}