aside {
  padding-bottom: 1.6rem;

  & header {
    padding-top: 1.2rem;
    justify-content: space-between;
  
    & strong {
      font: var(--text);
      color: var(--text-color-secondary);
    }
  
    & button {
      border: none;
      background-color: transparent;
      font: var(--text);
      color: var(--text-color-secondary);
      padding-right: 2.4rem;
      background: url(../assets/icons/ArrowRight.svg) no-repeat right/contain;
      cursor: pointer;
  
      &:hover {
        color: var(--brand-color-light);
        background-image: url(../assets/icons/ArrowRightHover.svg);
      }
    }
  }

  & div.grid {
    gap: 3.2rem;

    & figure {
      gap: 1.5rem;

      & img {
        width: 7.2rem;
        height: 7.2rem;
      }

      & h3 {
        font: var(--heading3);
        color: var(--text-color-primary);
        overflow: hidden; /* Remove o estouro do elemento */
        text-overflow: ellipsis; /* Adiciona “...” no final */
        display: -webkit-box;
        line-clamp: 2;
        -webkit-line-clamp: 2; /* Número de linhas */
        -webkit-box-orient: vertical; /* Orientação vertical */
      }
    }
  }
}

@media (width >= 426px) {
  aside {
    grid-area: aside;
    margin-left: 1.6rem;
  }
}

@media (width >= 1280px) {
  aside {
    margin-left: 3.2rem;
  }
}