aside {
  grid-area: aside;
  padding-bottom: 1.6rem;

  & nav.grid {
    gap: 3.2rem;

    & a figure {
      gap: 1.5rem;

      & img {
        width: 7.2rem;
        height: 7.2rem;
      }

      & h3 {
        font: var(--heading3);
        color: var(--text-color-primary);

        /* Controle de exibição de linhas */
        overflow: hidden; /* Remove o estouro do elemento */
        text-overflow: ellipsis; /* Adiciona “...” no final */
        display: -webkit-box;
        line-clamp: 2;
        -webkit-line-clamp: 2; /* Número de linhas */
        -webkit-box-orient: vertical; /* Orientação vertical */
      }
    }
  }
}

@media (width >= 1280px) {
  aside {
    margin-left: 3.2rem;
  }
}