#features {
  grid-template-columns: 1fr;
  grid-area: features;
  gap: 1.6rem;

  & img {
    width: 100%;
    object-fit: cover;
  }

  & > a .card {
    height: 100%;
    overflow: hidden;
    border-radius: .4rem;
    position: relative;

    & figcaption {
      position: absolute;
      bottom: 1.6rem;
      left: 1.6rem;

      & h2 {
        margin-top: .8rem;
        font: var(--heading1);
        color: var(--text-color-primary);

        /* Controle de exibição de linhas */
        overflow: hidden; /* Remove o estouro do elemento */
        text-overflow: ellipsis; /* Adiciona “...” no final */
        display: -webkit-box;
        line-clamp: 2;
        -webkit-line-clamp: 2; /* Número de linhas */
        -webkit-box-orient: vertical; /* Orientação vertical */
      }
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      background: linear-gradient(to bottom, hsla(229, 84%, 5%, 0), #020617);
      inset: 0;
    }
  }

  & > nav.grid {
    gap: 1.6rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 20rem);
    
    & .card {
      gap: 1.6rem;
      overflow: hidden;
      position: relative;
      border-radius: .4rem;
      height: 100%;

      & figcaption {
        position: absolute;
        bottom: 1.2rem;
        left: 1.2rem;

        & h2 {
          margin-top: .8rem;
          color: var(--text-color-primary);
          font: var(--heading3);

          /* Controle de exibição de linhas */
          overflow: hidden; /* Remove o estouro do elemento */
          text-overflow: ellipsis; /* Adiciona “...” no final */
          display: -webkit-box;
          line-clamp: 3;
          -webkit-line-clamp: 3; /* Número de linhas */
          -webkit-box-orient: vertical; /* Orientação vertical */
        }
      }

      &::before {
        content: '';
        display: block;
        position: absolute;
        background: linear-gradient(to bottom, hsla(229, 84%, 5%, 0), #020617);
        inset: 0;
      }
    }
  }
}

@media (width > 768px) {
  #features,
  #features nav.grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
}