#features {
  grid-template-columns: 1fr;
  gap: 1.6rem;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  & > .card {
    position: relative;
    border-radius: .4rem;
    overflow: hidden;

    & figcaption {
      position: absolute;
      bottom: 2.4rem;
      left: 2.4rem;

      & h2 {
        margin-top: .8rem;
        font: var(--heading1);
        color: var(--text-color-primary);
        height: 9.6rem;
        overflow: hidden;
      }
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      background: linear-gradient(to bottom, hsla(229, 84%, 5%, 0), #020617);
      inset: 0;
    }
  }

  & > div.grid {
    gap: 1.6rem;
    grid-template-columns: 1fr;
    
    & .card {
      gap: 1.6rem;
      overflow: hidden;
      position: relative;
      border-radius: .4rem;

      & figcaption {
        position: absolute;
        bottom: 1.2rem;
        left: 1.2rem;

        & h2 {
          margin-top: .8rem;
          color: var(--text-color-primary);
          font: var(--heading3);
          height: 6rem;
          overflow: hidden;
        }
      }

      &::before {
        content: '';
        display: block;
        position: absolute;
        background: linear-gradient(to bottom, hsla(229, 84%, 5%, 0), #020617);
        inset: 0;
      }
    }
  }
}

@media (width >= 1280px) {
  #features {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;

    & > div.grid {
      grid-template-columns: repeat(2, 1fr);
    }

    & > .card figcaption h2 { height: auto; }
  }
}