#weekly {
  margin-block: 8rem;
  border-block: 1px solid var(--stroke-color);

  & header {
    padding-top: 1.2rem;
    justify-content: space-between;

    & strong {
      font: var(--text);
      color: var(--text-color-secondary);
    }

    & button {
      border: none;
      background-color: transparent;
      font: var(--text);
      color: var(--text-color-secondary);
      padding-right: 2.4rem;
      background: url(../assets/icons/ArrowRight.svg) no-repeat right/contain;
      cursor: pointer;

      &:hover {
        color: var(--brand-color-light);
        background-image: url(../assets/icons/ArrowRightHover.svg);
      }
    }
  }

  & > div.flex {
    flex-flow: column nowrap;
    gap: 1.6rem;
    padding-block: 2.4rem;

    & figure {
      position: relative;
      flex: 1;

      & img {
        width: 100%;
        object-fit: cover;
      }

      & span.tag {
        position: absolute;
        top: .8rem;
        left: .8rem;
      }

      & h3 {
        color: var(--text-color-primary);
        font: var(--heading2);
        overflow: hidden; /* Remove o estouro do elemento */
        text-overflow: ellipsis; /* Adiciona “...” no final */
        display: -webkit-box;
        -webkit-line-clamp: 3; /* Número de linhas */
        -webkit-box-orient: vertical; /* Orientação vertical */
      }
    }
  }
}

@media (width >= 1280px) {
  #weekly {
    & > div.flex {
      flex-flow: row wrap;
    }
  }
}