#weekly {
  grid-area: weekly;
  margin-block: 8rem;
  border-block: 1px solid var(--stroke-color);

  & > nav.grid {
    grid-auto-flow: row;
    gap: 1.6rem;
    padding-block: 2.4rem;

    & a figure {
      position: relative;
      flex: 1;

      & img {
        width: 100%;
        object-fit: cover;
      }

      & span.tag {
        position: absolute;
        top: .8rem;
        left: .8rem;
      }

      & h3 {
        color: var(--text-color-primary);
        font: var(--heading2);

        /* Controle de exibição de linhas */
        overflow: hidden; /* Remove o estouro do elemento */
        text-overflow: ellipsis; /* Adiciona “...” no final */
        display: -webkit-box;
        line-clamp: 3;
        -webkit-line-clamp: 3; /* Número de linhas */
        -webkit-box-orient: vertical; /* Orientação vertical */
      }
    }
  }
}

@media (width > 426px) and (width < 768px) {
  #weekly {
    & > nav.grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (width >= 768px) {
  #weekly {
    & > nav.grid {
      grid-template-columns: repeat(4, 1fr);
      grid-auto-flow: column;
    }
  }
}